# ============================================
# XDP Forwarder Configuration - Server01
# ============================================
#
# LOCAL <interface> <local_network/mask> <src_mac> <dst_mac>
#   - local_network/mask: Dải mạng LOCAL để XDP filter
#   - Packet dst_ip TRONG local_network -> PASS (kernel xử lý)
#   - Packet dst_ip NGOÀI local_network -> REDIRECT (userspace forward)
#   - src_mac: MAC của interface này
#   - dst_mac: MAC của client
#
# WAN <interface> <src_mac> <dst_mac>
#   - src_mac: MAC của interface WAN này
#   - dst_mac: MAC của next-hop (server đối diện)

LOCAL enp7s0 192.168.9.0/24 20:7c:14:f8:0c:d2 20:7c:14:f8:0d:08

WAN enp5s0 20:7c:14:f8:0c:d0 20:7c:14:f8:0d:4e
